

<div style="display:flex; justify-content:center; flex-direction:column; width:100%; height:50vh; align-items:center;">
    <h2>You Dont Have A Permission To View This <span class="text-danger">Page</span></h2>
    <a asp-controller="Employee" asp-action="EmployeeList" class="btn btn-outline-warning">Go Back</a>
</div>