@model ForgotPasswordViewModel


<div style="display:flex; justify-content:center; align-items:center; flex-direction:column; width:100%; height:50vh;">
    <div  style="width:375px">
        <form class="form-control" asp-controller="Account" asp-action="ForgotPassword" method="post">
            <h2>Forgot Password</h2>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" autocomplete="off" />
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
            <div style="display:flex; justify-content:center; margin:10px;">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        </form>
    </div>
</div>
@section Scripts{ 
    <partial name="_Validator"/>
}