
<div style="display:flex; justify-content:center; flex-direction:column; align-items:center; width:100%; height:50vh;">
    <h1>Locked <span class="text-danger">Account</span></h1>
    <h3 class="text-danger">
        <a asp-action="ForgotPassword" asp-controller="Account">
            reset your password by clicking here
        </a>
    </h3>
</div>