@model int

<div style="width:30%; border:2px solid grey; margin:10px; padding:10px;">
    <h2 style="display:inline;" class="text-bg-danger">Error 404</h2>
    <br />
    <h3 style="display:inline;">There is no Employee with ID : @Model</h3>
</div>
<a asp-controller="Employee" asp-action="EmployeeList" class="btn btn-warning ms-2">Back To Main Page</a>